*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    color:rgb(50,73,91);
    font-size: 16px;;
    background-color: rgb(244,249,253);
}

.margin-page{
    width: 75%;
    margin: 0 auto;
}
.hgt-100{
    height: 100%;

}
.wdt-100{
    width:100%;

}
.float{
    float: left;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.icon{
    height: 14px;
}

.float{
    float: left;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.hz-ul>li{
    position: relative;
    display: inline-block;
    list-style: none;
    padding-right: 15px;
    vertical-align: middle;

}

.button{
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(254,119,90);
    color: rgb(254,119,90);
}
.button-orange{
    background-color: rgb(254,119,90);
    color:white;
}
.button-large{
    padding: 15px;
    margin-top: 100px;
    margin-bottom: 50px;

}

.button:hover{
    background-color: rgb(254,119,90, 0.35);
    border-color: rgb(254,119,90, 0,35);
}

a{
    text-decoration:none;
    color:rgb(50,73,91);

}
.small-text{
    font-size: 14px;
    margin-top: 50px;
}
.block{
    display: inline-block;
}

/* header */



.setting-bar{
    background-color: rgb(244,249,253);
    height: 75px;
    line-height: 75px;
    vertical-align: center;

}
.bar-left{
    width: 50%;
}

.bar-right{
    width: 50%;
    text-align: right;
}

.globe{
    filter: invert(24%) sepia(39%) saturate(475%) hue-rotate(164deg) brightness(92%) contrast(89%);
    margin-right: 5px;
}



.vertical-line{
    position:absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 15px;
    display: inline-block;
    border-color:rgb(50,73,91);
}

nav{
    height: 75px;
    line-height: 75px;
    background-color: white;
}

#logo{
    vertical-align: middle;
}

.divider-header{
    color: rgb(50,73,91);
}

.jumbotron{
    text-align: left;
    height:700px;
    background-image: url("../img/jumbotron.png");
    background-size: cover;
}
.jumbotron-content{
    padding-top: 5%;
    padding-right: 30%;

}
.jumbotron-title{
    font-size: 50px ;
    margin-bottom: 20px;
}

.jumbotron-text{
    margin-bottom:30%; 50px;
}


/* main*/



/* first-section main */


.first-container-first-section-main{
    height: 45%;
}

.first-horizontal-first-section-main{
    text-align: center;
    align-items: center;
    padding: 5% 10%;
}


.img-dim-first-horizontal{
    width:40%;
}


.second-horizontal-first-section-main{
    background-color: white;
    margin-bottom: 5%;

    

}


.left-second-horizontal{
    width:25%;
    text-align: center;
    padding: 5%;
}

.img-dim-second-horizontal{
    width: 60%;
    margin-bottom: 15%;
}


.right-second-horizontal{
    width: 70%;
    padding-top: 5%;
    padding-right:5%;
}

.bold-uppercase{
    text-transform: uppercase;
    font-weight: 800;
}

.ul-style{
    list-style-image: ;
}

.second-container-first-section-main{
    height: 45%;
    margin-bottom: 5%;    
}

.vertical-first-section-main{
    width: 28%;
    background-color:white;
    align-items: center;
    text-align: center;
    padding: 5%;
}
.center-vertical{
    margin-left: 8%;
    margin-right: 8%;
}

.img-vertical{
    width:30%;

}

.title-vertical{

}
.p-vertical{

}
.hr-vertical{

}


.side-margin{
    margin-left:5%;
    margin-right:5%;
}


/* second-section main */
.second-section-main{
    height: 550px;
    margin-bottom: 5%;
}
.first-container-second-section-main{
    height: 25%;
    margin-bottom: 5%;
}

.second-container-second-section-main{
    height: 65%;
}

/* third-section main */
.third-section-main{
    height: 550px;
    margin-bottom: 5%;
}

.first-container-third-section-main{
    height: 35%;
    margin-bottom: 5%;

}
.second-container-third-section-main{
    height: 60%;
}

.left-third-section-main{
    width: 35%;
    height: 100%;
    margin-right: 5%;
}

.right-third-section-main{
    width: 55%;
    height: 100%;
    margin-right: 5%;
    background-color: indigo;
}


/* footer*/
.dim-footer{
    height: 550px;
}

/* first-section footer */
.first-section-footer{
    background-color: chocolate;
    height: 55%;
    margin-bottom: 5%;
}
.vertical-first-section-footer{
    width:20%;
    margin-right: 5%;
    background-color: magenta;
    height: 100%;
}
/* second-section footer */
.second-section-footer{
    background-color: cornflowerblue;
    margin-bottom: 5%;
    height: 35%;
}


/* test posizione sezioni 
header{
    background-color: darkkhaki;
}


main{
    background-color: darkslategray;

}
footer{
    background-color:black;

}

*/

