*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    color:rgb(50,73,91);
    font-size: 16px;
    background-color: rgb(244,249,253);
}

.margin-page{
    width: 80%;
    margin: 0 auto;
}

.inline-block{
    display: inline-block;
}

.alg-left{
    text-align:left;
}

.float{
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.box-shadow{
    box-shadow: 0 0 15px #eaf0f6;
}

.bar-left{
    width: 50%;
}

.bar-right{
    width: 50%;
    text-align: right;
}

.center{
    align-items: center;
    text-align: center;
}

/*text  */
.bold-uppercase{
    text-transform: uppercase;
    font-weight: 800;
}

.small-text{
    font-size: 12px;
    margin-top:30px;
}

.bold{
    font-weight: bold;
}

/*link*/
.text-white{
    color: white;
}

.color-link{
    text-decoration:none;
    color:rgb(50,73,91);
}

.color-link:hover{
    text-decoration:underline;
    color: #7fd1de;
}

a>span:hover{
    text-decoration: none;
}

/*unordered list*/
.hz-ul>li{
    position: relative;
    display: inline-block;
    list-style: none;
    padding-right: 15px;
    vertical-align: middle;
}

.ul-style{
    list-style: none;
}

.ul-style>li::before{
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px; 
    background-image: url(../img/Orange_Checkmark.svg);
    margin-right: 10px;
}

/* button */
.button{
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(254,119,90);
    color: rgb(254,119,90);
    text-decoration: none;
}
.button-orange{
    background-color: rgb(254,119,90);
    color:white;
}

.button-large{
    padding: 15px 25px;
    text-decoration:none;
}

.button:hover{
    background-color: rgb(254,119,90, 0.35);
    border-color: rgb(254,119,90, 0,35);
}

/*symbols */
.icon{
    height: 14px;
}

.chevron::after {
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
	height: 0.20em;
	left: 0.15em;
	position: relative;
	transform: rotate(-45deg);
	width: 0.30em;
    margin-left:5px;
}

.chevron.bottom:after {
	top: 0;
	transform: rotate(135deg);
}

/* header */
.setting-bar{
    background-color: rgb(244,249,253);
    height: 75px;
    line-height: 75px;
    vertical-align: center;
}

.globe{
    filter: invert(24%) sepia(39%) saturate(475%) hue-rotate(164deg) brightness(92%) contrast(89%);
    margin-right: 5px;
}

.vertical-line{
    position:absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 15px;
    display: inline-block;
    border-color:rgb(50,73,91);
}

nav{
    height: 75px;
    line-height: 75px;
    background-color: white;
}

#logo{
    vertical-align: middle;
}

.divider-header{
    color: rgb(50,73,91);
}

.jumbotron{
    text-align: left;
    height:700px;
    background-image: url("../img/jumbotron.png");
    background-size: cover;
}

.jumbotron-content{
    padding-top: 5%;
    padding-right: 45%;
}

.jumbotron-title{
    font-size: 50px ;
    margin-bottom: 20px;
}

/* main*/
/* first section main */
.claim-container{
    padding: 5% 10%;
}

.img-dim-claim{
    width:25%;
}

.free-hubspot-container{
    background-color: white;
    padding-bottom:5%;
    margin-bottom: 5%;
}

.left-free-hubspot{
    width:25%;
    text-align: center;
    padding: 5%;
}

.img-free-hubspot{
    width: 60%;
    margin-bottom: 15%;
}

.right-free-hubspot{
    width: 70%;
    padding-top: 5%;
    padding-right:5%;
}

.margin-ul-free-hubspot{
    margin-top:30px
}

/*vertical box*/
.vertical-box{
    width: 30%;
    height: 740px;
    padding: 5%;
    margin-bottom: 5%;
    background-color:white;
}

.text-vertical-container{
    height: 220px;
}

.center-vertical{
    margin-left: 5%;
    margin-right: 5%;
}

.img-vertical{
    height:100px;
}
.title-vertical{
    font-size: 28px;
}

.margin-vertical{
    margin-bottom: 30px;
}

.container-ul-vertical{
    height: 90px;
}

.ul-vertical{
    margin-bottom: 50px;
}

.side-margin{
    margin-left:5%;
    margin-right:5%;
}

.hr-main{
    display: inline-block;
    margin-left:50px;
    width: 50%;
    vertical-align: middle;
}

.hr-margin-bottom{
    margin-bottom: 30px;
}
/* second-section main */
.statistics-container{
    background-image: linear-gradient(to right,rgb(0,169,184) , rgb(0,188, 166) );
    color:white;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.title-statistics{
    height: 25%;
    padding-bottom:5%;
}

/* table*/
.table-statistics{
    table-layout: fixed ;
    margin-top: 5%;
    width:100%;
    border-collapse: collapse;
    border-style: hidden;   
}

.table-statistics h1::after{
    content: '+';
    font-size: 20px;
}

.table-statistics td, .table-statistics th {
    border: 1px solid white;
}

td>div{
    padding:15px;
}

.text-table{
    font-size: 14px;
}



/* third-section main */
.third-section-main{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: white;
}

.costumer-container{
    height: 35%;
    margin-bottom: 5%;
}

.left-costumer-container{
    width: 30%;
    padding-right: 5%;
    padding-left: 8%;
}

.right-costumer-container{
    width: 70%;
    padding-left: 20%;
}

.number-costumer{
    font-size: 50px;
}

.costumer-table{
    width: 80%;
}

.img-costumer-table{
    width:100px;
    background-color: none;
    padding-right: 10px;
}

/* start growing */
.start-container{
    width: 60%;
    padding-right:20%;
}

.woman-container{
    width: 40%;
}

.img-woman{
    width: 250px;
}

/* footer*/

footer{
    color:lightgray;
    background-color: rgb(50, 73, 91);
}
.link-footer{
    color: lightgray;
    text-decoration: none;
    line-height: 35px;
}

/* menù footer */
.first-section-footer{
    height: 55%;
    margin-bottom: 5%;
}

.first-section-footer>a{
    color:lightgray;
}

.col-footer{
    width:20%;
    margin-right: 5%;
    height: 100%;
}

.title-footer{
    color:white;
    padding-top: 35px;
    padding-bottom: 25px;
}

/* social link*/
li>a>.social-icon{
    align-items: center;
}

.social-icon{
    width: 7%;
    margin-right: 10%;
    margin-top: 15px;
    filter: invert(95%) sepia(6%) saturate(106%) hue-rotate(155deg) brightness(97%) contrast(86%);
}

.social-icon:hover{
    filter: invert(79%) sepia(47%) saturate(321%) hue-rotate(141deg) brightness(91%) contrast(90%);
}


/* second-section footer */
.link-footer:hover{
    color: #7fd1de;
}

.languages-container{
    width: 100%;
    text-align: center;
}

.hr-footer{
    border: 1px solid lightgray;
}

.footer-note{
    margin-top: 30px;
    margin-bottom: 30px;
    vertical-align: middle;
}

.button-footer{
    background-color: lightgray;
    border-color: lightgray;
    color: rgb(50, 73, 91);
    padding-left: 1px;
    padding-right: 1px;
}
.button-footer:hover{
    background-color: #7fd1de;
    border-color: #7fd1de;
    color: rgb(50, 73, 91);
}

