*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
}



/* header */
.setting-bar{

}

.jumbotron{

}


/* main*/

/* first-section main */
.first-section-main{

}

/* second-section main */
.second-section-main{

}

/* third-section main */
.third-section-main{

}

/* /main */

/* footer*/

/* first-section footer */
.first-section-footer{

}

/* second-section main */
.second-section-footer{

}

